* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER */

header {
  background: rgb(238, 109, 109);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

header h1 {
  color: #333;
  font-size: 28px;
}

header nav ul {
  display: flex;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: #333;
  text-transform: uppercase;
  font-size: 18px;
}

/* FOOTER */

footer {
  background: #333;
  padding: 20px;
}

footer nav {
  margin-bottom: 50px;
}

footer nav ul {
  display: flex;
  justify-content: center;
}

footer nav ul li {
  margin: 0 10px;
}

footer nav ul li a {
  font-size: 14px;
  color: #fff;
}

footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer div p,
footer div a {
  color: #fff;
  font-size: 14px;
}
